// COLORS
$color-gray-dark: #444;
$color-gray-light: #f4f4f4;
$color-white: #fff;


// FONTS
@font-face {
  font-family: 'Montserrat';
  src: URL('../assets/fonts/Montserrat-Bold\ copy.ttf') format('truetype');
}
@font-face {
  font-family: 'Courier';
  src: URL('../assets/fonts/cour.ttf') format('truetype');
}


// TYPOGRAPHY
h1,h2,h3,h4,h5,h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  z-index: 99;
}
p {
  font-family: 'Courier', monospace;
  color: $color-gray-dark;
  z-index: 99;
}


// UTILITY
.icon-container {
  position: relative;

  &-content {
    z-index: 20;
  }

  &-icon {
    width: 150px; 
    position: absolute;
    top: 20px;
    left: -40px;

    @media(min-width: 1550px) {
      width: 100px;
      left: -20px;
      top: 30px;
    }

    @media(max-width: 768px) {
      width: 90px;
      top: 35px;
      left: -20px;
    }
  }
}
.carousel {
  &-inner {
    min-height: 500px;
  }

  &-item {
    min-height: 500px;
  }

  img {
    width: 100%; 
    max-height: 630px;
  }
}


// BACKGROUND
.light-bg {
  background-image: url(../assets/images/stars_inverse.jpg);
  background-size: cover;
}
.dark-bg {
  background-image: url(../assets/images/stars.jpg);
  background-size: cover;
  color: #fff;
  p {color: #fff;}
}
.planet-container {
  position: relative;

  .moon {
    position: absolute;
    top: 0;
    right: 0;
    height: 600px;
    width: 600px;
    transform: translate(45%, -50%);
    z-index: 1;
    
    @media(max-width: 768px) {
      transform: translate(45%, 40%);
      height: 400px;
      width: 400px;
    }
  }
  .planet {
    position: absolute;
    bottom: 0;
    transform: translate(-150px, 213px);
    z-index: 99;
    width: 600px;
  }
}

// FORM 
label,input,h2,p {
  display: block;
  position: relative;
  z-index: 9999;
}

form {
  top:0;
  left:0;
  z-index: 9999;
  background-image: linear-gradient(to top right, #ffffff45, transparent);
  padding: 1.5rem;
  

  .btn {
    width: 50%;

    &-primary {
      border: 2px solid $color-gray-dark;
      background-color: $color-white;
      color: $color-gray-dark; 
      
      &:hover {
        border: 2px solid $color-white;
        background-color: transparent;
        color: $color-white;
      }
    }
    
    &-secondary {
      color: $color-white;
      border: 2px solid $color-white;
      background-color: transparent;
      
      &:hover {
        background-color: $color-white;
        color: $color-gray-dark;
      }
    }
  }
}


// ACCORDION
.accordion {
  color: $color-gray-dark;

  &-button{
    &:focus {
      z-index: 3;
      border-color: $color-white;
      outline: 0;
      box-shadow: none;
    }
    
    &:not(.collapsed) {
      color: $color-gray-dark;
      background-color: $color-white;
    }
  }

  &-item {
    background-color: $color-gray-light; 
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      border-bottom: 2px solid $color-white;
      padding: .5rem 1rem;
    }
  }
}


// FOOTER
footer {
  background-color: #672e31;
}